mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  height: 100vh;
}

mat-sidenav-content {
  height: 100vh;
}

.main-content {
  margin: 20px;
}
